.lRNsiz_pTf7YmA5QMh4z {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;
    overflow: hidden;
    background-color: #1c1f2e;
    border-radius: 19px;
}

.QAHxuJxRZWb3P_cbR8QA {
    display: flex;
    justify-content: center;
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    padding: 0 16px 10px;
    overflow: hidden;
}